<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.sx.mapper.SxUserMapper">
  <resultMap id="BaseResultMap" type="com.mt.sx.pojo.SxUser">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="relate_id" jdbcType="INTEGER" property="relateId" />
    <result column="open_id" jdbcType="INTEGER" property="openId" />
    <result column="nice_name" jdbcType="VARCHAR" property="niceName" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
  </resultMap>
</mapper>